html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* важно для мобилки: убирает дерганье 100vh */
body {
  background: #0f0f10;
  font-family: Arial, sans-serif;
  overflow: hidden;
}
html,
body {
  height: 100%;
  overscroll-behavior: none;
}
